/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E1D2FFF;
    background-alt: #16161dFF;
    foreground:     #D9E0EEFF;
    selected:       #dda0ddFF;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
}
