/* {
    --bg1: #101010;
    --bg2: #1e1c31;
    --color0: #565575;
    --color8: #100e23;
    --color1: #ff8080;
    --color9: #ff5458;
    --color2: #95ffa4;
    --color10: #62d196;
    --color3: #ffe9aa;
    --color11: #ffb378;
    --color4: #91ddff;
    --color12: #65b2ff;
    --color5: #c991e1;
    --color13: #906cff;
    --color6: #aaffe4;
    --color14: #63f2f1;
    --color7: #cbe3e7;
    --color15: #a6b3cc;
}*/

/*
"line-color bg:   #1e1c31;
@define-color cursorColor:  #fbfcfc;
! black
@define-color color0:       #565575;
@define-color color8:       #100e23;
! red
@define-color color1:       #ff8080;
@define-color color9:       #ff5458;
! green
@define-color color2:       #95ffa4;
@define-color color10:      #62d196;
! yellow
@define-color color3:       #ffe9aa;
@define-color color11:      #ffb378;
! blue
@define-color color4:       #91ddff;
@define-color color12:      #65b2ff;
! magenta
@define-color color5:       #c991e1;
@define-color color13:      #906cff;
! cyan
@define-color color6:       #aaffe4;
@define-color color14:      #63f2f1;
! white
@define-color color7:       #cbe3e7;
@define-color color15:      #a6b3cc;
*/
