* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 10px;
  min-height: 0;
  padding: 0 2px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
  margin: 0;
}

button {
  background: transparent;
}

tooltip {
  background: red;
  border: 2px solid yellow;
  color: white;
  font-size: 20px;
}

#workspaces,
#window {
  background: #101010;
  border-radius: 5px;
  margin: 5px;
  margin-left: 2px;
}

#workspaces button {
  border-radius: 5px;
  color: #babbf1;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #99d1db;
}

#workspaces button:hover {
  background: #1e1e1e;
  border: 1px solid transparent;
}

#window {
  color: #96dc92;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-docker,
#custom-lock,
#custom-music,
#custom-notification,
#custom-power,
#custom-uptime,
#memory,
#network,
#power-profiles-daemon,
#pulseaudio,
#tray {
  background: #101010;
  border-radius: 5px;
  margin: 5px 0;
  padding: 0.4rem 0.8rem;
}

#backlight {
  color: #e5c890;
}

#battery {
  color: #a6d189;
}

#battery.charging {
  color: #a6d189;
}

#battery.warning:not(.charging) {
  color: #e78284;
}

#clock {
  color: #8caaee;
}

#custom-docker {
  color: #85c1dc;
}

#custom-lock {
  color: #babbf1;
}

#custom-music {
  color: #ca9ee6;
}

#custom-notification {
  color: #ba9eff;
}

#power-profiles-daemon {
  color: #f38ba8;
}

#pulseaudio {
  color: #ea999c;
}