@import "Colors/rosepine.css";

* {
  font-family: JetbrainsMono Nerd Font Propo;
  font-size: 10px;
  min-height: 0;
  border-radius: 5px;
  margin: 0px 1px;
}


#waybar {
  background: transparent;
  margin: 0px;
  margin-top: 10px;
}

tooltip {
  background-color: @bg;
  border: 2px solid @tooltip_border;
}

button {
  background: transparent;
  color: inherit;
}

#workspaces,
#window {
  border-radius: 5px;
  background: @bg;
  margin-top: 1px;
  margin-bottom: 1px;
}

#workspaces button {
  border-radius: 10px;
  color: @ws_text;
  padding: 0.4rem;
  transition: all 150ms ease;
}

#workspaces button.active {
  color: @ws_active;
  background: @ws_active_bg;
  box-shadow: 0 0 5px @ws_active_shadow;
}

#workspaces button:hover {
  background: @ws_hover;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-music,
#custom-notification,
#memory,
#network,
#power-profiles-daemon,
#pulseaudio,
#tray {
  background: @bg;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  margin-bottom: 1px;
  margin-top: 1px;
  color: @module_text;
}

#backlight {
  color: @backlight_text;
  margin-top: 1px;
  margin-bottom: 1px;
}

#battery {
  color: @battery_text;
  margin-top: 1px;
  margin-bottom: 1px;
}

#battery.charging {
  color: @battery_text;
}

#battery.critical:not(.charging){
  color: white;
  border: 1px solid @tooltip_border;
  background: @power_text;
}

#battery.warning:not(.charging) {
  color: white;
  border: 1px solid @tooltip_border;
  background: @power_text;
  text-shadow: 0 0 4px white;
}

#clock {
  color: @clock_text;
  margin-top: 1px;
  margin-bottom: 1px;
  font-weight: bold;
  border: 1px solid @tooltip_border;

}

#custom-notification {
  color: @notification_text;
  margin-top: 1px;
  margin-bottom: 1px;
}

#custom-notification.notification {
  color: @notification_text;
  margin-top: 1px;
  margin-bottom: 1px;
  border: 1px solid @notification_text;
  text-shadow: 0 0 4px @notification_text;
}

#custom-media {
  background-color: @media_bg;
  padding: 0 8px;
  margin: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  color: @media_text;
  font-weight: bold;
  text-shadow: 0 0 4px @media_text;

}

#power-profiles-daemon {
  color: @power_profiles_text;
}

#network {
  color: @network_text;
}

#cpu {
  color: @cpu_text;
}

#memory {
  color: @memory_text;
}

#pulseaudio {
  color: @pulse_text;
}

#custom-power {
  background-color: @bg;
  color: @power_text;
  margin-top: 1px;
  margin-bottom: 1px;
}
