* {
  font-family: JetbrainsMono Nerd Font Propo;
  font-size: 10px;
  min-height: 0;
  border-radius: 5px;
  margin: 0px 1px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
  margin: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
}

tooltip {
  background-color: #101010;
  border: 2px solid #89b4fa;
}

/* BASE BUTTONS */
button {
  background: transparent;
  color: inherit;
}

/* WORKSPACES + WINDOW */
#workspaces,
#window {
  border-radius: 5px;
  background: #101010;
  margin-top: 2px;
  margin-bottom: 2px;
}

#workspaces button {
  border-radius: 7px;
  color: #b4befe;
  padding: 0.4rem;
  transition: all 150ms ease;
}

#workspaces button.active {
  color: #f38ba8;
  background: rgba(243, 139, 168, 0.12);
  box-shadow: 0 0 8px rgba(243, 139, 168, 0.25);
}

#workspaces button:hover {
  background: rgba(137, 180, 250, 0.2);
}
#backlight,
#battery,
#clock,
#cpu,
#custom-music,
#custom-notification,
#memory,
#network,
#power-profiles-daemon,
#pulseaudio,
#tray {
  background: #101010;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  margin-bottom: 2px;
  margin-top: 2px;
}

#backlight {
  color: #e5c890;
  margin-top: 2px;
  margin-bottom: 2px;
}

#battery {
  color: #a6d189;
  margin-top: 2px;
  margin-bottom: 2px;
}

#battery.charging {
  color: #a6d189;
}

#battery.warning:not(.charging) {
  color: #e78284;
}

#clock {
  color: #8caaee;
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: bold;
}

#custom-notification {
  color: #ba9eff;
  margin-top: 2px;
  margin-bottom: 2px;
}
#custom-media {
  background-color: #16161d;
  padding: 0 8px;
  margin: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #f5c2e7;
  font-weight: bold;
}

#power-profiles-daemon {
  color: #f38ba8;
  margin-top: 2px;
  margin-bottom: 2px;
}

#network {
  color: #94e2d5;
}

#cpu {
  color: #8caaee;
}

#memory {
  color: #cba6f7;
}

#pulseaudio {
  color: #ea999c;
  margin-top: 2px;
  margin-bottom: 2px;
}
#custom-power {
  background-color: #101010;
  margin-top: 2px;
  margin-bottom: 2px;
}
